*{
    margin: 0;
    padding: 0;
}
.conteiner{
    width: 1600px;
    margin: 0 auto;
} 
.header{
    background: #222222;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.header_left{
    padding: 18px 0px 18px 231px
}
.header_right{
    padding: 18px 240px 18px 0px;
}
.left_main{
    padding-left: 41px;
}
.basket{
    padding-left: 33px;
}
.personal_account{
   padding-left: 33px;
}
.info{
    background: #F1E4E6;
    height: 764px;
    display: flex;
    align-items: center;
}
.right_info{
    padding-right: 16px;
    padding-left: 46px;
}
.range{
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 260px 180px;
    margin-top: 64px;
    justify-content: center;
    gap: 30px;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_parag{
    position: absolute;
}
.card_acc{
    grid-column-start: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.catal_head{
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    display: flex;
    justify-content: center;
    margin-top: 96px;
    margin-bottom: 6px;
}
.catal_parag{
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    display: flex;
    justify-content: center;
}
.product{
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 581px 581px;
    justify-content: center;
    gap: 30px;
    margin-top: 48px;
}
.product_cards{
    background: #F8F8F8;
}
.prod_head{
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-left: 18px;
    padding-bottom: 12.65px;
    padding-top: 25.35px;
}
.prod_parag{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-left: 18px;
    padding-bottom: 18px;
}
.prod_price{
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-left: 18px;
}
.prod_wom{padding: 9px 110px 11px 108px;
    background: #F7E4E2;
}
.prod_but{
    font-size: 16px;
line-height: 19px;
color: #F26376;
border: 1px solid #FF6A6A;
padding: 14px 38px 14px 38px;
background: #FFFFFF
}
.but{
    display: flex;
    justify-content: center;
    margin-top: 64px;
}
.services {
    height: 341px;
    background: #222224;
    margin-top: 95.5px;
    display: flex;
    justify-content: center;
}
.delivery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.services_head {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    padding-top: 28.07px;
    padding-bottom: 16px;
    width: 117px;
}
.services_parag {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    width: 360px;
}
.subscribe {
    height: 448px;
    background-image: url(image/fonsab.jpg);
    display: flex;
}
.review {
    width: 359px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 97px;
    padding-left: 228px;
}
.sub_logo {
    padding-bottom: 30px;
}
.sub_parag {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}
.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 340px;
}
.rigi_parag {
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}
.but_reg{
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;  
    background: #F16D7F;
    width: 85px;
    height: 36px;
}
.in_reg{
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67; 
    height: 36px;
}
.footer {
    height: 79px;
    background: #222224;
    display: flex;
}
.copyright {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}
.footer {
    height: 79px;
    background: #222224;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    padding-left: 235px;
}
.networks {
   padding-right: 230.34px;
}
.netw_logo {
    width: 31.45px;
    height: 32px;
    background: #FFFFFF;
    
}
/*  нижк стили для каталога */

.arrivals {
    display: flex;
    justify-content: space-between; 
    height: 148px;
}
.arrivals_head {
    padding: 59px 0px 60px 230px;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}
.arrivals_parag {
    padding: 65px 230px 66px 737px;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}
.new_arr {
    color: #F16D7F;
}
.catalog {
    margin-top: 51px;
}
.filer {
    display: flex;
    padding-left: 246px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 64px;
}
.filter_logo {
    padding-left: 11px;
}
.choice {
    display: flex;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding-left: 304px;
}
.choice_parag {
    padding-right: 10px;
}
.choice_logo {
    padding-right: 27.98px;
}
.cat_product {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 581px 581px 581px;
    justify-content: center;
    gap: 30px;
}
.prod_men {
    padding: 9px 110px 11px 108px;
    background: #F7E4E2;
}
.numbering {
    display: flex;
    margin-top: 60px;
    justify-content: center;
}